:root {
  --margarine: "Margarine", cursive;
  --oswald: "Oswald", sans-serif;
  height: 100vh;
}
* {
  font-family: var(--oswald);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin: 0 auto;

  font-family: var(--oswald);
}
.container {
  height: 100vh;
  max-height: 700px;
  margin: auto auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}


/* buttons */
.btn-normal {
  position: relative;
  margin: auto ;
  width: 100%;
  border: none;
  background: none;
  max-width: 500px;
  border-radius: 5px;
  font-size: 1.5rem;
  box-shadow: 7px 5px 13px rgba(44, 95, 152, 0.65);
  letter-spacing: 0.1rem;
}
.btn-highscore {
  margin-bottom: 1rem;
  color: white;
  background-color: #ff7e86;
}
.btn-start {
  color: #367dce;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.homescreen-logo {
  display: inline-block;
  margin-top: 6rem;
  text-align: center;
  width: 224px;
  height: 224px;
}

.quiz-title {
  color: white;
  font-family: var(--margarine);
  letter-spacing: 0.3rem;
  font-weight: 100;
}

.image-icon {
  position: absolute;
  top: -27px;
  left: 2px;
  width: 80px;
}

.homescreen-btn-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes btn-pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.95);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.animate-btn {
  animation: btn-pop;
  animation-duration: 200ms;
  animation-timing-function: linear;
}
