.btn{
    padding: 1rem 3rem;
    position: relative;
    margin: .5rem auto;
    width: 100%;
    border: none;
    background: white;
    border-radius: 5px;
    box-shadow: 7px 5px 13px rgba(44, 95, 152, 0.65);
    letter-spacing: 0.1rem;
    cursor: pointer;
}